.nav {
  /* border: 1px solid rgb(133, 132, 132); */
  color: antiquewhite;
  margin: 10px;
}

.item {
  display: inline-block;
  border: 1px solid rgb(133, 132, 132);
  border-radius: 8px;
  padding: 10px;
  margin-right: 15px;
  background-color: rgb(92, 92, 92);
  transition: background-color 0.5s ease;

  /* text-shadow: 0 0 5px rgba(84, 16, 87, 0.9); */
}

.item:hover,
.item:focus {
  background-color: rgb(84, 16, 87);
  border: 1px solid rgb(84, 16, 87);
  box-shadow: 4px 4px 6px rgba(84, 16, 87, 1);
}

.logo {
  color: antiquewhite;
  margin: 15px;
}
