li {
  list-style: none; /*точки*/
}

body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(90deg, #0b0d0f, #1a1d21, #292e36);
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none; /* Убирает подчеркивание */
  color: inherit;
}
